---
title: "How to gain digital freedom?"
date: "2026-08-27"
summary: ""
tags: []
published: true
---

How to gain digital freedom?

The problem with digital technology is that it is so useful. But at this point I feel like it is hurting me more than what I'm gaining from it. I have many creative ambitions and digital technology is definitely draining my energy and creativity. I need to live my life.

Laptop I will always need. And my phone is not too big of a problem to be honest. But it kind of is. Even Whatsapp messages are problematic, consume my attention. IDK MAN. And email. Pewdiepie is right, it's not a good thing that I answer my email within a day. It is not healthy. I guess AI comes to the rescue with many of these things. I just need an AI aggregator that takes all messages from everywhere.
