---
title: "veganism_and_ai"
date: "2026-04-19"
summary: ""
tags: []
published: false
---

If AI became smarter than us, would it be ethically right for it to eat us?

Or maybe humans are special compared to other animals and that's why we should not be eaten?

