---
title: "First hidden blog"
date: "2026-05-06"
summary: "Read the book Effortless Escape, it helped me"
tags: ["hidden"]
published: true
---

Read it.

I have been struggling with problems regarding porn (or sexual content) addiction and Effortless Escape really helped me. My life quality has increased.

This whole topic is quite taboo, hence hwy I have been hesitating to write about it. I have a draft of a longer blog discussing this which I might publish some day.

-elias
